.pagina{
    width: 100%;
    background: #0E001E;
}
/*Barra de navegacion*/
.vista__principal{
    animation: menu 1s ease;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top:20px ;
    position: fixed;
    z-index: 1;
    transition: all .1s ease;
    /*background: red;*/
}



.header a{
    color: white;
    margin-right: 40px;
    font-size: 40px;
    text-decoration: none;
    /*background: black;*/
}
.header a span{
    background: radial-gradient(#F09819,#FF512F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.menu{
    /*background: black;*/
}
.menu li{
    display: inline-block;
    margin-left: 17px;
    margin-right: 17px;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all .2s ease;
}

.menu li a:hover{
    border-radius: 20px;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px 10px;
    box-shadow: 0 0 15px black;
}

.header.active{
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top:0;
    padding: 10px 0;
    box-shadow: 0 0 15px #FA7500
}
.header.active a span{
    background: radial-gradient(#fff,#fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.header.active .menu li a:hover{
    text-decoration: 2px underline;
    border-radius: 0;
    background: none;
    padding: 0;
    box-shadow: none;
}


/*ICONO DEL MENU*/

.ico__menu{
   display: none;
}

/*
.header.menu__active{
    height: 100%;
}

.menu__active .menu{
    display: block;
}*/




/*Portada*/
.portada{
    height: 1010px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*background: #a8174e;*/
}


.contendio__portada label{
    font-size: 35px;
    color: white;
}
.contendio__portada h1{
    font-size: 70px;
    color: white;
}
.contendio__portada span{
    background: radial-gradient(#F09819,#FF512F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.contendio__portada a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    line-height: 120px;
    padding: 10px 40px;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.contendio__portada a:hover{

    color: black;
    box-shadow: 0 0 10px #FA7500;;
}

